<mat-card class="check-item transparent" *ngFor="let check of (checks$ | async)">
  <mat-card-title>
    <div> {{ check.name }}</div>
    <section class="check-date" [ngClass]="{
      'green': check.checkStatus == 'GREEN',
      'yellow': check.checkStatus == 'YELLOW',
      'red': check.checkStatus == 'RED'
    }">
      <div>
        <div class="status-time"> {{ check.completedAt | date: 'hh:mm:ss' }}</div>
        <div class="status-time"> {{ check.completedAt | date: 'MMM d, y'}}</div>
      </div>
      &nbsp;
      <mat-icon [ngSwitch]="check.checkStatus">
        <span *ngSwitchCase="'RED'">block</span>
        <span *ngSwitchCase="'YELLOW'">warning</span>
        <span *ngSwitchCase="'GREEN'">check_circle</span>
      </mat-icon>
    </section>
  </mat-card-title>
  <br>
  <!-- TODO: remove harcode -->

  <div *ngIf="check.description as data">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="scrollable-area">
          <table>
            <tbody>
            <tr>
              <th>
                <div>Node Name</div>
              </th>
              <th>
                <div>Pod Resource Requirements</div>
              </th>
            </tr>
            <tr *ngFor="let node of data.nodesResourceRequirements">
              <td>
                <div>{{ node.nodeName}}</div>
              </td>
              <td>
                <table>
                  <tbody>
                  <tr>
                    <th>
                      <div>Pod Name</div>
                    </th>
                    <th>
                      <div>Containers Resource Requirements</div>
                    </th>
                  </tr>
                  <tr *ngFor="let pod of node.podResourceRequirements">
                    <td>
                      <div> {{pod.podName}}</div>
                    </td>
                    <td>
                      <table>
                        <tbody>
                        <tr>
                          <th>
                            <div>Container Name</div>
                          </th>
                          <th>
                            <div>Container Image</div>
                          </th>
                          <th>
                            <div>Requests</div>
                          </th>
                          <th>
                            <div>Limits</div>
                          </th>
                        </tr>
                        <tr *ngFor="let container of pod.containersResourceRequirements">
                          <td>
                            <div>{{ container.containerName }}</div>
                          </td>
                          <td>
                            <div>{{ container.containerImage }}</div>
                          </td>
                          <td>
                            <table>
                              <tbody>
                              <tr>
                                <th>
                                  <div>Ram</div>
                                </th>
                                <td>
                                  <div>{{ container.requests.ram }}</div>
                                </td>
                              </tr>
                              <tr>
                                <th>
                                  <div>Cpu</div>
                                </th>
                                <td>
                                  <div>{{ container.requests.cpu }}</div>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table>
                              <tbody>
                              <tr>
                                <th>
                                  <div>Ram</div>
                                </th>
                                <td>
                                  <div>{{ container.limits.ram }}</div>
                                </td>
                              </tr>
                              <tr>
                                <th>
                                  <div>Cpu</div>
                                </th>
                                <td>
                                  <div>{{ container.limits.cpu }}</div>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-expansion-panel>


    </mat-accordion>

  </div>


  <mat-tab-group>
    <mat-tab *ngFor="let check of check.possibleActions as action">
      <ng-template mat-tab-label>
        {{ check.name }}
      </ng-template>
      <div class="description">
        {{ check.description }}
      </div>
      <mat-chip-list class="action">
        <mat-chip class="red">RUN</mat-chip>
      </mat-chip-list>
    </mat-tab>

  </mat-tab-group>

</mat-card>

