<div *ngIf="(checks$ | async) as checks">
  <div *ngIf="checks.length; else noChecksMsg">
    <mat-card class="check-item transparent" *ngFor="let check of checks; let checkIndex = index">
      <mat-card-title>
        <div> {{ check.name }}</div>
        <section class="check-date" [ngClass]="{
      'green': check.checkStatus == 'GREEN',
      'yellow': check.checkStatus == 'YELLOW',
      'red': check.checkStatus == 'RED'
    }">
          <div>
            <div class="status-time"> {{ check.completedAt | date: 'hh:mm:ss' }}</div>
            <div class="status-time"> {{ check.completedAt | date: 'MMM d, y'}}</div>
          </div>
          &nbsp;
          &nbsp;
          <div class="icon">
            <mat-icon [ngSwitch]="check.checkStatus">
              <span *ngSwitchCase="'RED'">error</span>
              <span *ngSwitchCase="'YELLOW'">warning</span>
              <span *ngSwitchCase="'GREEN'">check_circle</span>
            </mat-icon>
          </div>
        </section>
      </mat-card-title>
      <br>
      <!-- TODO: remove harcode -->

      <div *ngIf="check.description as data">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="scrollable-area">
              <ng-container *ngIf="checkIndex === 0">
                <table>
                  <tbody>
                  <tr>
                    <th>
                      <div>Node Name</div>
                    </th>
                    <th>
                      <div>Pod Resource Requirements</div>
                    </th>
                  </tr>
                  <tr *ngFor="let node of data.nodesResourceRequirements">
                    <td>
                      <div>{{ node.nodeName}}</div>
                    </td>
                    <td>
                      <table>
                        <tbody>
                        <tr>
                          <th>
                            <div>Pod Name</div>
                          </th>
                          <th>
                            <div>Containers Resource Requirements</div>
                          </th>
                        </tr>
                        <tr *ngFor="let pod of node.podResourceRequirements">
                          <td>
                            <div> {{pod.podName}}</div>
                          </td>
                          <td>
                            <table>
                              <tbody>
                              <tr>
                                <th>
                                  <div>Container Name</div>
                                </th>
                                <th>
                                  <div>Container Image</div>
                                </th>
                                <th>
                                  <div>Requests</div>
                                </th>
                                <th>
                                  <div>Limits</div>
                                </th>
                              </tr>
                              <tr *ngFor="let container of pod.containersResourceRequirements">
                                <td>
                                  <div>{{ container.containerName }}</div>
                                </td>
                                <td>
                                  <div>{{ container.containerImage }}</div>
                                </td>
                                <td>
                                  <table class="requests">
                                    <tbody>
                                    <tr>
                                      <th>
                                        <div>Ram</div>
                                      </th>
                                      <td>
                                        <div [ngClass]="{warn: !container.requests.ram }">
                                          {{ container.requests.ram || IS_NOT_SET_MSG }}
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>
                                        <div>Cpu</div>
                                      </th>
                                      <td>
                                        <div [ngClass]="{warn: !container.requests.cpu }">
                                          {{ container.requests.cpu || IS_NOT_SET_MSG }}
                                        </div>
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td>
                                  <table class="limits">
                                    <tbody>
                                    <tr>
                                      <th>
                                        <div>Ram</div>
                                      </th>
                                      <td>
                                        <div [ngClass]="{warn: !container.limits.ram}">
                                          {{ container.limits.ram || IS_NOT_SET_MSG }}
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th>
                                        <div>Cpu</div>
                                      </th>
                                      <td>
                                        <div [ngClass]="{warn: !container.limits.cpu}">
                                          {{ container.limits.cpu || IS_NOT_SET_MSG }}
                                        </div>
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-container>
              <ng-container *ngIf="checkIndex === 1">
                <table>
                  <tr>
                    <th>Region/Zone</th>
                    <th>Instance ID</th>
                    <th>RAM requested (GIB)</th>
                    <th>RAM not requested (GIB)</th>
                    <th>Total RAM (GIB)</th>
                    <th>Price per day (USD) </th>
                    <th>Recommended to sunset</th>
                  </tr>

                  <tr *ngFor="let node of data">
                    <td>
                      {{ node.kube.region }}
                    </td>
                    <td>
                      {{ node.cloudProvider.instanceId }}
                    </td>
                    <td>
                      {{ node.kube.memoryRequests / 1000000000 | number }}
                    </td>
                    <td>
                      {{ (node.kube.allocatableMemory - node.kube.memoryRequests) / 1000000000 | number }}
                    </td>
                    <td>
                      {{ node.kube.allocatableMemory / 1000000000 | number }}
                    </td>
                    <td>
                      {{ node.price.valuePerUnit * 24 | number }}
                    </td>
                    <td>
                      {{node.kube.isRecommendedToSunset ? 'Yes' : 'No'}}
                    </td>
                  </tr>
                </table>
              </ng-container>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </div>


      <mat-tab-group>
        <mat-tab *ngFor="let check of check.possibleActions as action">
          <ng-template mat-tab-label>
            {{ check.name }}
          </ng-template>
          <div class="description">
            {{ check.description }}
          </div>
          <mat-chip-list class="action">
            <mat-chip class="red">RUN</mat-chip>
          </mat-chip-list>
        </mat-tab>

      </mat-tab-group>

    </mat-card>
  </div>

  <ng-template #noChecksMsg>
    No checks found.
  </ng-template>
</div>
