@import "~src/assets/styles/colors";

$table-border: 1px solid white;

.mat-tab-header {
  .mat-ink-bar {
    background-color: transparent !important;
    border-bottom: 2px dotted $white;
    width: auto;
  }
}

.mat-tab-body-content {
  padding: 20px 0;
}

.mat-card-title {
  display: flex !important;
  justify-content: space-between;
}

.description {
  padding-bottom: 24px;
}

.action {
  .red {
    background: red;
  }
}

.check-date {
  font-size: 12px;
  display: flex;

  &.red {
    color: red;
  }

  &.yellow {
    color: yellow;
  }

  &.green {
    color: green;
  }
}

.check-item {
  margin: 20px;
}

@mixin border-bottom {
  border-bottom: $table-border;
}

@mixin border-right {
  border-right: $table-border;
}

table {
  width: 100%;
  height: 100%;
  align: left;

  border-spacing: 0;
  border: $table-border;
  vertical-align: top;

  .node-name {
    @include border-bottom;
    @include border-right;
  }

  .pod-name {
    @include border-bottom;

    width: 150px;
  }

  .container-name {

    width: 100px;
  }

  .container-image {
    width: 450px;
  }

  tr, td {
    padding: 0;
  }
}
