:host {
  display: flex;
  flex-direction: column;
  width: 100% -50px;
  padding: 50px;
  height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    max-height: 100vh -300px;
    overflow-y: scroll;
  }
}
