:host {
  background: url('/assets/img/sg2-bg-grad.jpg') center top / cover no-repeat;
  display: flex;
  flex-direction: column;
  width: 100% -50px;
  padding: 50px;
  min-height: 100%;

  .content {
    max-height: 600px;
    overflow-y: scroll;
  }
}
